<a href="/post">Add Post</a>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Image</td>
        <td>Actions</td>
    </tr>
    <% for(var pd of pdData) {%>
        <tr>
            <td><%= pd.title %></td>
            <td><%= pd.content %></td>
            <td><img src="<%= pd.PostImage %>" height="50"/></td>
            <td> 
                <a href="/post/deletePost/<%= pd.id %>">Delete</a> ||
                <a href="/post/updatePost/<%= pd.id %>">Update</a>
            </td>
        </tr>
    <% } %>
</table>