<a href="/">Add Page</a>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Hobby</td>
        <td>City</td>
        <td>Message</td>
        <td>Image</td>
        <td>Actions</td>
    </tr>
    <% for(var v of stdata) {%>
    <tr>
        <td><%=v.name %></td>
        <td><%=v.age %></td>
        <td><%=v.gender %></td>
        <td><%=v.hobby %></td>
        <td><%=v.city %></td>
        <td><%=v.message %></td>
        <td><img src="<%=v.AdminImages%>" height="100"></td>
        <td>
            <a href="/deleteRecords/<%= v.id %>">Delete</a> ||
            <a href="/updateRecords/<%= v.id %>">Update</a>
        </td>
    </tr>
    <% }%>
</table>